<div class="container-fluid">
    <div class="row" id="web-page">
        <div class="col-lg-2" id="sidebar">
            <a href="/home">
                <img  src="../assets/icons/cubo.png" width="45" height="50"> Datos en tiempo real
            </a>
            <a href="/parametrizacion">
                <img src="../assets/icons/menured.png" width="50" height="50"> Historicos
            </a>
            <br>    
        </div>
        <div class="col-lg-10" id="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

